<!-- education begins -->
<section id="page-education" class="page-education">
<div class="container">
        <header class="section-header">
            <h2 class="section-title"><span> {{'EDUCATION.NAME' | translate | uppercase}} </span></h2>
             <div class="spacer"></div>
            <p class="section-subtitle">{{'EDUCATION.SUB' | translate}}</p>
        </header>
        <div class="row">
         <div class="col-md-6">
          <article class="education">
            <header>
              <h3> {{'NTUIM' | translate}} </h3>
              <p>{{'TAIPEI' | translate}}</p>
            </header>
              <p> <strong>{{'EDUCATION.MBA.NAME' | translate}} </strong> - <i>{{'EDUCATION.MBA.DUE' | translate}}</i> </p>
              <p> <strong>{{'EDUCATION.BBA.NAME' | translate}} </strong> - <i>{{'EDUCATION.BBA.DUE' | translate}}</i> </p>
              <p> <strong>{{'EDUCATION.CLOUD.NAME' | translate}} </strong> - <i>{{'EDUCATION.CLOUD.DUE' | translate}}</i> </p>
          </article>
        </div>
        <div class="col-md-6">
          <article class="education">
            <header>
              <h3> {{'EDUCATION.HIGH.SCHOOL' | translate}} </h3>
              <p>{{'EDUCATION.HIGH.LOCATION' | translate}}</p>
            </header>
              <p> <strong>{{'EDUCATION.HIGH.NAME' | translate}} </strong> - <i>{{'EDUCATION.HIGH.DUE' | translate}}</i> </p>
          </article>
        </div>
    </div>
</div>
</section><!-- education ends -->