<!-- experience begins -->
<section id="page-experience" class="page-experience">
<div class="container">
        <header class="section-header">
            <h2 class="section-title"><span translate>{{'EXPERiENCE.NAME' | uppercase}}</span></h2>
             <div class="spacer"></div>
            <p class="section-subtitle">{{'EXPERIENCE.SUB' | translate}}</p>
        </header>
        <div class="row">
         <div class="col-md-4">
          <article class="experience">
            <header>
              <h3> {{'EXPERIENCE.MEDIATEK.NAME' | translate}} </h3>
              <p>{{'EXPERIENCE.MEDIATEK.TITLE' | translate}} / {{'EXPERIENCE.MEDIATEK.LOCATION' | translate}} </p>
              <p><i>{{'EXPERIENCE.MEDIATEK.DUE' | translate}}</i></p>
            </header>
              <p>{{'EXPERIENCE.MEDIATEK.DESC' | translate}}</p>
          </article>
        </div>
          <div class="col-md-4">
          <article class="experience">
            <header>
              <h3> {{'EXPERIENCE.GOGOLOOK.NAME' | translate}} </h3>
              <p>{{'EXPERIENCE.GOGOLOOK.TITLE' | translate}} / {{'TAIPEI' | translate}} </p>
              <p><i>{{'EXPERIENCE.GOGOLOOK.DUE' | translate}}</i></p>
            </header>
              <p>{{'EXPERIENCE.GOGOLOOK.DESC' | translate}}</p>
          </article>
        </div>
        <div class="col-md-4">
          <article class="experience">
            <header>
              <h3> {{'EXPERIENCE.CLOUD.NAME' | translate}} </h3>
              <p>{{'EXPERIENCE.CLOUD.TITLE' | translate}} / {{'TAIPEI' | translate}} </p>
              <p><i>{{'EXPERIENCE.CLOUD.DUE' | translate}}</i></p>
            </header>
              <p>{{'EXPERIENCE.CLOUD.DESC' | translate}}</p>
          </article>
        </div>
    </div>
</div>
</section><!-- experience ends -->