<section id="page-profile" class="page-profile">
<div class="container">
  <header class="section-header">
      <h2 class="section-title">{{'PROFILE.NAME' | translate | uppercase}}</h2>
      <div class="spacer"></div>
      <p class="section-subtitle">{{'CHINESE' | translate | uppercase }} | {{'ENGLISH' | translate | uppercase }} </p>
  </header>
  <div class="row">
    <div class="col-md-3">
       <div class="profile"><img src="img/profile.jpg" alt="profile"/></div> 
    </div>
    <div class="col-md-9 profile-content">
      <p>{{'PROFILE.DESC.1' | translate}}</p>
      <p>{{'PROFILE.DESC.2' | translate}}</p>
      <p>{{'PROFILE.DESC.3' | translate}}</p>

      <ol class="breadcrumb profile-list">
        <span> {{'PROFILE.VISIT' | translate}} </span>
        <li><a href="http://michaelhsu.tw/resume-en/">RESUME [WEB]</a></li>
        <li><a href="https://github.com/evenchange4/evenchange4.github.com/blob/master/resume-en/MichaelHsu-Resume.pdf?raw=true">RESUME [PDF]</a></li>
        <li><a href="https://github.com/evenchange4/evenchange4.github.com/blob/master/resume-en/MichaelHsu-CV.pdf?raw=true">Curriculum Vitae [PDF]</a></li>
      </ol>

  </div>
</div> 
</section><!-- profile ends -->